<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="bodb">
<article class="head"><a href=""></a>为您推荐</article>
<ul class="speech"><li><p class="dat">2016-5-20</p><a class="topic"><div><h3>专题：乳腺康复专题讲座</h3><img src="images/img_main_1.jpg" alt=""><p class="thir">北京三院主任医师王丽丽系列讲座</p></div><p class="four">阅读全文</p></a></li><li><p class="dat">2016-5-20</p><a class="topic"><div><h3>专题：乳腺康复专题讲座</h3><img src="images/img_main_1.jpg" alt=""><p class="thir">北京三院主任医师王丽丽系列讲座</p></div><p class="four">阅读全文</p></a></li><li><p class="dat">2016-5-20</p><a class="topic"><div><h3>专题：乳腺康复专题讲座</h3><img src="images/img_main_1.jpg" alt=""><p class="thir">北京三院主任医师王丽丽系列讲座</p></div><p class="four">阅读全文</p></a></li>
</ul>
</body>
</html>
