<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="applicable-device" content="mobile">
<meta name="format-detection" content="telephone=no">
<link type="text/css" href="/patients/styles/css/style.css" rel="stylesheet"/>
</head>
<body class="bodb">
<article class="head">消 息</article>
<ul class="infoma">
    <li class="notcl"><div class="touim fl"><img src="/patients/styles/images/not_01.png" alt=""></div><div class="yeste fr"><h3><span class="tim">昨天</span>久久公告</h3><p><span>最近拉肚子最近拉肚子肚最近拉肚子最近拉肚子肚最近拉肚子最近拉肚子肚</span><span>（男，20岁）</span></p><b>6</b></div></li>
    <li class="notcl"><div class="touim fl"><img src="/patients/styles/images/not_02.png" alt=""></div><div class="yeste fr"><h3><span class="tim">昨天</span>为您推荐</h3><p><span>最近拉肚子最近拉肚子肚最近拉肚子最近拉肚子肚最近拉肚子最近拉肚子肚</span><span>（男，20岁）</span></p><b>4</b></div></li>
    <li class="persna"><div class="touim fl"><img src="/patients/styles/images/doc.jpg" alt=""></div><div class="yeste fr"><h3><span class="tim">昨天</span>张晓丽</h3><p>张晓丽回复了你的问题</p></div></li>
    <li class="persna"><div class="touim fl"><img src="/patients/styles/images/doc.jpg" alt=""></div><div class="yeste fr"><h3><span class="tim">昨天</span>张晓丽</h3><p>张晓丽医生咨询已结束，快去给医生打个分吧！</p></div></li>
</ul>
<footer><a href=""><div></div><p>首页</p></a><a href=""><div></div><p>资讯</p></a><a href=""><div></div><p></p></a><a href="" class="curr"><div></div><p>消息</p></a><a href=""><div></div><p>我的</p></a><div class="asdo"><a href="">问 医</a></div></footer>
</body>
</html>
