<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title view-title="name">{name}相关疾病文章</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" type="text/css" href="/patients/styles/css/style.css">
    </head>
    <body>
        <div class="loading" style="line-height:1.9rem;">loading...</div>
        
        <div class="maincontent" class="maincontent" style="display: none">
            <article class="head closbt">
                <a href=""></a>
                <a href="" class="close">关闭</a>
                <div class="css_title" view-title="name">{name}</div>
            </article>
            <article class="fana clearfix" view-pinyin="pinyin_initial">
                <a href="/patients/views/symptom/index.html?pinyin={pinyin_initial}">症状首页</a>
                <a href="/patients/views/symptom/introduce.html?pinyin={pinyin_initial}">症状知识</a>
                <a href="/patients/views/symptom/article.html?pinyin={pinyin_initial}" class="cup">症状文章</a>
            </article>
            
            <article class="raatu dream" view-list="article">
                <a href=""><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传染病，以婴幼手足口病是由多种手足口病是由多种肠道病毒引起的常见传染病病毒引起的常见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传染病，以婴幼手足口病是由多种肠道病毒引起的常见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传毒引起的常见传染病，以婴幼</p></a>
                <a href=""><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传染病，以婴幼手足口病是由多种肠道病毒引起的常见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传染病，以婴幼手足口病是由多种肠道病毒引起的常见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传毒引起的常见传染病，以婴幼</p></a>
                <a href=""><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道病毒引起的常见传染病，以婴幼手足口病是由多种肠道病毒引起的常见传染病，以婴幼</p></a>
                <a><h3>糖尿病人睡梦中易突然呼吸暂停</h3><p>手足口病是由多种肠道见传染病，以婴幼</p></a>
            </article>
            <a href="" class="agmor">点击查看更多</a>
        </div>
        
        <!--引入js start-->
        <script src="/scripts/jquery-1.11.3.min.js"></script>
        <script src="/scripts/template.js"></script>
        <script src="/scripts/japp.js"></script>
        <script src="/scripts/japp.helper.js"></script>
        <script src="/scripts/japp.ajax.js"></script>
        <script src="/patients/scripts/symptom/symptom.article.js"></script>
        <script src="/patients/scripts/symptom/detail.js"></script>
        <!--引入js end-->
    </body>
</html>
