<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="applicable-device" content="mobile">
<meta name="format-detection" content="telephone=no">
<link type="text/css" href="css/style.css" rel="stylesheet"/>
</head>
<body class="bodb">
<article class="head"><a href=""></a>我的问题</article>
<section class="myhid"><img src="images/noim.png"><p>您还未有任何咨询<br/>马上咨询吧~</p><a href="">马上免费咨询</a></section>
</body>
</html>
